.navbar {
  width: 1300px;
  padding-top: 0;
  padding-bottom: 0;
}

.navbar .has-megamenu {
  position: static!important;
}

.navbar .megamenu {
  left: 0;
  right: 0;
  top: -100;
  width: 100%;
  padding: 20px;
}

.nav-link:hover {
  border-bottom: 5px solid #00d9b1;
}

.dropdown-menu {
  margin-top: 0;
}

.navbar .nav-item:not(:last-child) {
  margin-right: 35px;
}

.dropdown-toggle::after {
  transition: transform 0.15s linear;
}

.show.dropdown .dropdown-toggle::after {
  transform: translateY(3px);
}

#home-tab, #contact-tab {
  padding-right: 25px;
  padding-left: 25px;
}

.nav-tabs .nav-item {
  margin-right: 0!important;
}

.nav-tabs .nav-link {
  border: 5px solid transparent;
}

.nav-tabs .nav-link:hover {
  border-bottom: 5px solid #00d9b1;
}

.tab-content .dropdown-item:hover {
  border-bottom: 2px solid black;
}

.container-fluid {
  padding-right: 0px;
  padding-left: 0px;
}

.play-icon-container {
  position: absolute;
  top: 10%;
  left: 48%;
  z-index: 2;
  background-color: white;
  border-radius: 50%;
}

.play-icon {
  padding: 0.5rem;
}

.play-icon-content {
  padding-top: 0px;
  font-size: 30px;
  position: absolute;
  top: 110%;
  left: -100%;
  color: white;
  font-weight: 500;
  border-radius: 50%;
}

.play-icon-content a {
  font-size: 20px;
}

.slider-filter {
  position: absolute;
  top: 350px;
  left: 650px;
  background-color: white;
}

.slider-filter-content {
  position: absolute;
  left: -200px;
  background-color: white;
  width: 900px;
}

.filter-input .dropdown-item {
  font-size: 14px;
}

.btn-inline-secondary:hover {
  color: #fff;
  background-color: #00d9b1!important;
}

.filter-second {
  width: 213px;
  border: none;
  border-bottom: 1px dashed rgb(202, 202, 202)!important;
}

/* inspiration */

@media (max-width: 768px) {
  .carousel-inner .carousel-item>div {
    display: none;
  }
  .carousel-inner .carousel-item>div:first-child {
    display: block;
  }
}

.carousel-inner .carousel-item.active, .carousel-inner .carousel-item-next, .carousel-inner .carousel-item-prev {
  display: flex;
}

/* display 3 */

.carousel-inner .carousel-item-right.active, .carousel-inner .carousel-item-next {
  transform: translateX(25%);
}

.carousel-inner .carousel-item-left.active, .carousel-inner .carousel-item-prev {
  transform: translateX(-25%);
}

.carousel-inner .carousel-item-right, .carousel-inner .carousel-item-left {
  transform: translateX(0);
}

.card-body {
  padding-left: 3px;
}

.card-title {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 8px;
  margin-left: 0px;
}

/* #recipeCarousel3 .card-title {
  font-size: 12px;
} */

.card-text {
  font-size: 14px;
}

.card-foot {
  font-size: 14px;
  font-weight: bold;
}

/* inspiration */

/*Exlusiv*/

.exlusiv-container, .footer-1 {
  background-color: #F5F5F5;
}

#recipeCarousel5 .card {
  height: 310px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.footer-1 a {
  color: gray;
  margin: 5px 0px;
}